<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlashCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlashCopy.Properties.Settings>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyDest" serializeAs="String">
                <value>C:\FlashCopyer</value>
            </setting>
            <setting name="SizeLimit" serializeAs="String">
                <value>2</value>
            </setting>
        </FlashCopy.Properties.Settings>
    </userSettings>
</configuration>